<div hx-swap="none">
    <button id="toggle-instruction" class="button is-primary is-outlined mt-2" aria-label="Переключить инструкцию">
        <span class="icon is-small">
            <i class="fa-solid fa-chevron-left"></i>
        </span>
    </button>
    <div class="columns">
        <div id="instruction-column" class="column is-one-third">
            <div class="box mt-6">
                {% csrf_token %}
                <h2 class="title is-3">Инструкция</h2>
                <p>Этот сервис позволяет вам генерировать безопасные пароли. Вы можете настроить длину пароля, включить цифры и специальные символы.</p>
                <ol>
                    <li>Укажите желаемую длину пароля.</li>
                    <li>Выберите, включать ли цифры.</li>
                    <li>Выберите, включать ли специальные символы.</li>
                    <li>Выберите, включать ли разделители.</li>
                    <li>Нажмите кнопку "Сгенерировать пароль".</li>
                </ol>
                <p>После генерации пароля вы можете скопировать его в буфер обмена, нажав на кнопку "Скопировать".</p>
            </div>
        </div>
        <div class="column is-two-thirds">
            <div class="box mt-6">
                <h2 class="title is-2">Генератор паролей</h2>
                <div class="field">
                    <label class="label" for="length">Длина пароля:</label>
                    <div class="control">
                        {{ form.length }}
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox" for="include_digits">
                        {{ form.include_digits }}
                        Включить цифры
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox" for="include_special_chars">
                        {{ form.include_special_chars }} Включить спецсимволы
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox" for="include_hyphen">
                        {{ form.include_hyphen }} Включить дефис (-)
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox" for="include_underscore">
                        {{ form.include_underscore }} Включить подчеркивание (_)
                    </label>
                </div>
                <div class="field">
                    <label class="label" for="password">Ваш пароль:</label>
                    <div id="password-container">
                        <input id="password" class="input" type="text" value="{{ password }}" readonly />
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button 
                        class="button is-link is-outlined" 
                        hx-post="/generate-password/" 
                        hx-trigger="click" 
                        hx-target="#password-container"
                        hx-swap="innerHTML"
                        hx-include="[name='csrfmiddlewaretoken'], [name='length'], [name='include_digits'], [name='include_special_chars'], [name='include_hyphen'], [name='include_underscore']">
                        <span class="icon is-small">
                            <i class="fa-solid fa-unlock-keyhole"></i>
                        </span>
                        <span>Сгенерировать пароль</span>
                    </button>
                    </div>
                    <div class="control">
                        <button class="button is-primary is-outlined copy-button" data-target="password">
                            <span class="icon is-small">
                                <i class="fa-solid fa-copy"></i>
                            </span>
                            <span>Скопировать пароль</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>