<!DOCTYPE html>
{% load static %}
{% load analytical %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Генератор надежных и безопасных паролей. Создавайте сложные пароли для защиты ваших аккаунтов и данных.">
    <meta name="keywords" content="генератор паролей, безопасный пароль, создать пароль, надежный пароль, генератор сложных паролей">
    <meta property="og:title" content="Генератор паролей">
    <meta property="og:description" content="Генератор надежных и безопасных паролей. Создавайте сложные пароли для защиты ваших аккаунтов и данных.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://riopass.ddns.net/">
    {% analytical_head_top %}
    <title>{% block title %}Генератор паролей{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href={% static 'images/icon/favicon-32x32.png' %}>
    <link rel="icon" type="image/x-icon" href="images/icon/favicon.ico">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="{% static 'js/clip.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/ctheme.js' %}"></script>
    {% block extra_head %}{% endblock %}
    {% analytical_head_bottom %}
</head>
<body>
    {% analytical_body_top %}
    {% include 'includes/navbar.html' %}
    
    <div id="notification-container" class="notification-container"></div>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}
    {% block extra_scripts %}
    {% endblock %}
    {% analytical_body_bottom %}
</body>
</html>