<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    <meta name="description" content="Генератор надежных и безопасных паролей. Создавайте сложные пароли для защиты ваших аккаунтов и данных.">
    <meta name="keywords" content="генератор паролей, безопасный пароль, создать пароль, надежный пароль, генератор сложных паролей">
    <meta property="og:title" content="Генератор паролей">
    <meta property="og:description" content="Генератор надежных и безопасных паролей. Создавайте сложные пароли для защиты ваших аккаунтов и данных.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/share/logo_share.png' %}">
    {% endblock %}
    <title>{% block title %}Генератор паролей{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icon/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'images/icon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/clip.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/ctheme.js' %}"></script>
    {% if YANDEX_METRIKA_ID %}
    <script type="text/javascript">
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.webvisor.org/metrika/tag_ww.js", "ym");

    ym({{ YANDEX_METRIKA_ID }}, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer",
            trackHash:true,
            ssr:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/{{ YANDEX_METRIKA_ID }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {% endif %}
</head>
<body>
    {% include 'includes/navbar.html' %}
    
    <div id="notification-container" class="notification-container"></div>
    
    <main class="container main-container">
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>