{% extends "base.html" %}
{% load markdownify %}

{% block title %}Полезные Советы{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Полезные Советы</h1>
        <div class="columns is-multiline">
            {% for tip in tips %}
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">{{ tip.title }}</p>
                        
                        <div class="subtitle is-6 has-text-grey mb-4">
                            <div class="icon-text mb-2">
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>{{ tip.author.username }}</span>
                            </div>
                            <div class="icon-text">
                                <span class="icon">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                                <span>{{ tip.pub_date|date:"d.m.Y H:i" }}</span>
                            </div>
                            <div class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-eye"></i>
                                </span>
                                <span>{{ tip.views_count }}</span>
                            </div>
                        </div>
                        
                        <div class="content">
                            <div class="markdown-content">
                                {{ tip.content|markdownify|truncatechars_html:150 }}
                            </div>
                        </div>

                        <div class="mt-4 buttons are-small">
                            <a href="{% url 'tip_detail' tip.pk %}" class="button is-primary">
                                <span class="icon">
                                    <i class="fas fa-book-open"></i>
                                </span>
                                <span>Читать</span>
                            </a>
                            {% if tip.external_link %}
                            <a href="{{ tip.external_link }}" class="button is-primary is-outlined">
                                <span class="icon">
                                    <i class="fas fa-external-link-alt"></i>
                                </span>
                                <span>Подробнее</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <nav class="pagination is-centered my-6" role="navigation" aria-label="pagination">
        {% if tips.has_previous %}
            <a href="?page=1" class="pagination-previous">Первая</a>
            <a href="?page={{ tips.previous_page_number }}" class="pagination-previous">Предыдущая</a>
        {% else %}
            <a class="pagination-previous" disabled>Первая</a>
            <a class="pagination-previous" disabled>Предыдущая</a>
        {% endif %}

        {% if tips.has_next %}
            <a href="?page={{ tips.next_page_number }}" class="pagination-next">Следующая</a>
            <a href="?page={{ tips.paginator.num_pages }}" class="pagination-next">Последняя</a>
        {% else %}
            <a class="pagination-next" disabled>Следующая</a>
            <a class="pagination-next" disabled>Последняя</a>
        {% endif %}

        <ul class="pagination-list">
            {% for num in tips.paginator.page_range %}
                {% if tips.number == num %}
                    <li>
                        <a href="?page={{ num }}" class="pagination-link has-background-primary" aria-label="Страница {{ num }}" aria-current="page">{{ num }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ num }}" class="pagination-link" aria-label="Перейти на страницу {{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>
{% endblock %}
