{% extends "base.html" %}

{% block title %}Полезные Советы{% endblock %}

{% block content %}
<section class="tips-section">
    <div class="content is-small mt-6 px-3 mx-3">
        <h1 class="title">Полезные Советы</h1>
        <div class="columns is-multiline">
            {% for tip in tips %}
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">{{ tip.title }}</p>
                        <p class="subtitle is-6">Автор: {{ tip.author.username }}</p>
                        <p class="subtitle is-6">Дата публикации: {{ tip.pub_date|date:"d.m.Y H:i" }}</p>
                        <div class="content">
                            {{ tip.content|safe }}
                        </div>
                        {% if tip.external_link %}
                            <a href="{{ tip.external_link }}" class="button is-primary" target="_blank">Подробнее</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <nav class="pagination is-centered my-6" role="navigation" aria-label="pagination">
        {% if tips.has_previous %}
            <a href="?page=1" class="pagination-previous">Первая</a>
            <a href="?page={{ tips.previous_page_number }}" class="pagination-previous">Предыдущая</a>
        {% else %}
            <a class="pagination-previous" disabled>Первая</a>
            <a class="pagination-previous" disabled>Предыдущая</a>
        {% endif %}

        {% if tips.has_next %}
            <a href="?page={{ tips.next_page_number }}" class="pagination-next">Следующая</a>
            <a href="?page={{ tips.paginator.num_pages }}" class="pagination-next">Последняя</a>
        {% else %}
            <a class="pagination-next" disabled>Следующая</a>
            <a class="pagination-next" disabled>Последняя</a>
        {% endif %}

        <ul class="pagination-list">
            {% for num in tips.paginator.page_range %}
                {% if tips.number == num %}
                    <li>
                        <a href="?page={{ num }}" class="pagination-link is-current" aria-label="Страница {{ num }}" aria-current="page">{{ num }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ num }}" class="pagination-link" aria-label="Перейти на страницу {{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>
{% endblock %}
