<div>
    <button id="toggle-instruction" class="button is-primary is-outlined mt-2" aria-label="Переключить инструкцию">
        <span class="icon is-small">
            <i class="fa-solid fa-chevron-left"></i>
        </span>
    </button>
    <div class="columns">
        <!-- Левая колонка с инструкцией и описанием -->
        <div id="instruction-column" class="column is-one-third">
            <div class="box mt-6">
                <h2 class="title is-3">Инструкция</h2>
                <p>
                    Этот сервис позволяет вам генерировать безопасные пароли. Вы можете настроить длину пароля, включить цифры и специальные символы.
                </p>
                <p>
                    Чтобы сгенерировать пароль:
                </p>
                <ol>
                    <li>Укажите желаемую длину пароля.</li>
                    <li>Выберите, включать ли цифры.</li>
                    <li>Выберите, включать ли специальные символы.</li>
                    <li>Нажмите кнопку "Сгенерировать пароль".</li>
                </ol>
                <p>
                    После генерации пароля вы можете скопировать его в буфер обмена, нажав на кнопку "Скопировать".
                </p>
            </div>
        </div>

        <!-- Правая колонка с генератором паролей -->
        <div class="column is-two-thirds">
            <div class="box mt-6">
                <h2 class="title is-2">Генератор паролей</h2>
                <div class="field">
                    <label class="label" for="length">Длина пароля:</label>
                    <div class="control">
                        <input class="input" type="number" id="length" unicorn:model="length" min="8" max="50" />
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox" for="include_digits">
                        <input type="checkbox" id="include_digits" unicorn:model="include_digits" />
                        Включить цифры
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox" for="include_special_chars">
                        <input type="checkbox" id="include_special_chars" unicorn:model="include_special_chars" />
                        Включить спецсимволы
                    </label>
                </div>
                <div class="field">
                    <label class="label" for="password">Ваш пароль:</label>
                    <div class="control">
                        <input id="password" class="input" type="text" value="{{ password }}" readonly />
                    </div>
                    <button class="button is-primary is-outlined mt-2" onclick="copyToClipboard('password')">
                        <span class="icon is-small">
                            <i class="fa-solid fa-copy"></i>
                        </span>
                        <span>Скопировать в буфер обмена</span>
                    </button>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link is-outlined" unicorn:click="generate_password">
                            <span class="icon is-small">
                                <i class="fa-solid fa-unlock-keyhole"></i>
                            </span>
                            <span>Сгенерировать пароль</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>