<aside class="menu">
    <ul class="menu-list">
        {% for news in latest_news %}
            <li>
                <a href="{{ news.get_absolute_url }}" class="py-2 theme-link-grey">
                    <span class="has-text-weight-medium">{{ news.title }}</span>
                    <br>
                    <span class="is-size-7 has-text-grey">
                        📅 {{ news.created_at|date:"d.m.Y" }}
                    </span>
                </a>
            </li>
        {% empty %}
            <li><span class="has-text-grey is-size-7">Новостей нет.</span></li>
        {% endfor %}
    </ul>
</aside>

<div class="mt-4 pt-3 border-top has-text-centered" style="border-top: 1px solid var(--bulma-border);">
    <a href="{% url 'content:list' %}" class="button is-small is-primary is-outlined is-fullwidth">
        Все новости
    </a>
</div>