{% extends "base.html" %}
{% load static %}

{% block title %}403 - Доступ запрещён 🔒{% endblock %}

{% block content %}
<section class="hero is-fullheight has-background-grey-darker">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-white">403 | Запретная зона</h1>
            <p class="subtitle is-4 has-text-light">У вас нет доступа к этим древним артефактам</p>
            <a href="/" class="button is-link">Вернуться в безопасную зону</a>
        </div>
    </div>
</section>
{% endblock %}