<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item py-2" href="/">
            <span class="navbar-custom-text">riopass</span>
        </a>
        <a class="navbar-burger" role="button" aria-label="menu" data-target="navbarBasicExample"
        aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item {% if request.path == '/' %}is-active{% endif %}" href="/">
                Главная
            </a>
            
            <a class="navbar-item tips-link {% if request.path == '/tips/' %}is-active{% endif %}" 
            href="{% url 'tips' %}"
            data-effect="wipe">
                <span class="text">Полезные Советы</span>
                <span class="shimmer"></span>
            </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Инструменты
                    </a>

                    <div class="navbar-dropdown is-boxed">
                        
                        <a class="navbar-item" href="{% url 'my_ip' %}">
                            <span class="icon has-text-info mr-2">
                                <i class="fas fa-fingerprint"></i>
                            </span>
                            <span>Мой IP</span>
                        </a>

                        <hr class="navbar-divider">

                        <a class="navbar-item" href="/">
                            <span class="icon has-text-success mr-2">
                                <i class="fas fa-key"></i>
                            </span>
                            <span>Генератор паролей</span>
                        </a>

                    </div>
            <a class="navbar-item {% if '/programs/' in request.path %}is-active{% endif %}" 
               href="{% url 'content:program_list' %}">
                Программы
            </a>
            <a class="navbar-item {% if '/about/' in request.path %}is-active{% endif %}" 
               href="{% url 'pages:about' %}">
                О проекте
            </a>
        </div>
        
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="{% url 'content:list' %}" class="button is-primary" aria-label="Новости">
                    <span class="icon">
                        <i class="fas fa-bell fa-lg"></i>
                    </span>
                </a>
            </div>

            <div class="navbar-item">
                <button id="theme-toggle" class="button is-primary" aria-label="Переключить тему">
                    <span class="icon">
                        <i id="theme-icon" class="fas fa-lg fa-moon"></i>
                    </span>
                </button>
            </div>

            <div class="navbar-item">
                <a href="{% url 'content:global_search' %}" class="button is-primary" aria-label="Поиск по сайту">
                    <span class="icon">
                        <i class="fas fa-search fa-lg"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>